body {
  background-color: green;
}

#container {
  display: grid;
  grid-template-columns: 9vw 9vw 9vw 9vw 9vw 9vw;
  grid-template-rows: 10vh 6vh 10vh 30vh 5vh 10vh 10vh 20vh;
  justify-items: center;
  height: 101vh;
}

h2 {
  grid-column: 1 / 1;
}

#yourHandHeader {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}

#dealerHandHeader {
  grid-row: 6 / 6;
  grid-column: 1 / 1;
  text-align: center;
}

#yourHand {
  grid-row: 3 / 3;
  grid-column: 1 / 1;
}

#dealerHand {
  grid-row: 7 / 7;
  grid-column: 1 / 1;
}

h1 {
  grid-column: 1 / 4;
  grid-row: 1 / 1;
  text-align: center;
}

#card1 {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-row: 4 / 4;
  grid-column: 1/ 1;
  left: 0;
}

#card2 {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-row: 4 / 4;
  grid-column: 2 / 2;
}

#hit1Card {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-column: 3 / 3;
  grid-row: 4 / 4;
}

#hit2Card {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-column: 4 / 4;
  grid-row: 4 / 4;
}

#hit3Card {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-column: 5 / 5;
  grid-row: 4 / 4;
}

#hit4Card {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-column: 6 / 6;
  grid-row: 4 / 4;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 25px;
  grid-row: 5 / 5;
}

#stay {
  grid-row: 5 / 5;
  grid-column: 2 / 2;
}

#dealerCard1 {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-column: 1 / 1;
  grid-row: 8 / 8;
}

#dealerCard2 {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-column: 2 / 2;
  grid-row: 8 / 8;
}

#dealersHits {
  grid-row: 8 / 8;
}

#dealerHit1 {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-column: 3 / 3;
  grid-row: 8 / 8;
  margin-top: -14vh;
  margin-left: 9vw;
}

#dealerHit2 {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-column: 4 / 4;
  grid-row: 8 / 8;
  margin-top: -32vh;
  margin-left: 18vw;
}

#dealerHit3 {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-column: 5 / 5;
  grid-row: 8 / 8;
  margin-top: -32vh;
  margin-left: 27vw;
}

#dealerHit4 {
  background-color: white;
  width: 100px;
  height: 175px;
  border: 3px solid black;
  text-align: center;
  border-radius: 15px;
  grid-column: 6 / 6;
  grid-row: 8 / 8;
  margin-top: -32vh;
  margin-left: 36vw;
}

@media (max-width: 700px) {
  #card1,
  #card2,
  #hit1Card,
  #hit2Card,
  #hit3Card,
  #hit4Card,
  #dealerCard1,
  #dealerCard2,
  #dealerHit1,
  #dealerHit2,
  #dealerHit3,
  #dealerHit4 {
    height: 90px;
    width: 50px;
  }
  #dealerHit1 {
    margin-left: 16vw;
    margin-top: -15vh;
  }
  #dealerHit2 {
    margin-top: -18vh;
    margin-left: 33vw;
  }
  #dealerHit3 {
    margin-top: -17.5vh;
    margin-left: 51vw;
  }
  #dealerHit4 {
    margin-top: -1vh;
    margin-left: 8vw;
  }
  #container {
    display: grid;
    grid-template-columns: 17vw 17vw 17vw 17vw 17vw 15vw;
    grid-template-rows: 80px 70px 60px 110px 40px 60px 60px 100px;
    justify-items: center;
    
  }
  button {
    width: 60px;
  }
  #stay {
    width: 50px;
  }
  #drawCards {
    width: 90px;
  }
  h1 {
    margin-top: 1vh;
  }
}
